<h1>You have pending friend requests from...</h1>

<% @pending_friendships.each do |friendship| %>
  <div>
    <span><%= friendship.active_user.email %> |</span>
    <span>
      <%= form_for [@user, friendship] do |f| %>
        <%= hidden_field_tag :friendship_id, friendship.id %>
        <%= f.submit "Accept?" %>
      <% end %>
    </span>
  </div>
<% end %>